<p>servers works!</p>

<label> {{name}} </label>

<p> Server with Id {{serverId}} is {{getServerStatus()}} </p>


<button [disabled]="!allowNewServer" class="btn btn-primary" (click)="onCreateServer()"> Add server </button>

<div>{{serverCreationStatus}}</div>

<!-- <img [src] = "imgUrl"> -->


<div>
   Two way data binding example :
</div>

<div>
    <input type="text" [(ngModel)]="serverName">
</div>

{{serverName}}


<div class="two-way">
<h4 >   Two-Way data binding Assignment </h4>

<div>
Enter User Name : <input type="text" [(ngModel)]="userName">
</div>

User Name: {{userName}}

<br>

<button [disabled]="!userName" class="btn btn-primary" (click)="onClickServer() " > Clear </button>
</div>