<p>energymeter works!</p>
<h4> Energy Meter </h4>
<img  src="../../assets/images/energy.jpg">

<h5  appCustdir> HPL 5-30A Single Phase LCD Energy Meter </h5>
<h5> ₹1,033</h5>
<br>
<h5> Product Specifications :</h5>
<div>
    <table class="table">
        <!-- <thead>
            <tr>
                <th> </th>
                <th> </th>
            </tr>
        </thead> -->
        <tbody>
            <tr>
                <td> Brand </td>
                <td> HPL</td>
                </tr>
                    <tr>
                    <td> Operating Temperature</td>
                    <td> -10 to 60 deg C</td>
            </tr>
            <tr>
                <td> Voltage</td>
                <td> 240 V</td>
        </tr>
            <tr>
                <td> Current Range</td>
                <td>5-30 Amp</td>
        </tr>
        
        <tr>
            <td> Warranty</td>
            <td> 1 Year</td>
    </tr>
        </tbody>
    </table>
</div>