<p>tablet works!</p>
<div class="shadow p-3 mb-5 bg-white rounded" >
<!-- <div class="box"> -->
    <div class="col-md-4">
        <img src="../../assets/images/android tablet.webp" >
    </div>
   <br>
 <p> <b>APPLE iPad (9th Gen) 64 GB ROM 10.2 inch with Wi-Fi Only (Silver)  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{price |currency:'INR'}}</b></p>
    <div class="feature">
 <h6> Features</h6>
     <ul>
           <li>   64 GB ROM</li>
           <li> 25.91 cm (10.2 inch) Display </li>
           <li>  8 MP Primary Camera | 12 MP Front</li>
            <li>iOS 15 | Battery: Lithium Polymers</li>
           <li>Processor: A13 Bionic Chip with 64-bit Architecture</li> 
           <li> 1 Year Warranty </li>
     </ul> 
</div>
</div>