<p>electricals works!</p>
<div class="row">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/Power_generation.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> Power Generation & Transformers </h5>
          <p class="card-text"> Pulstron 12V 135Ah Dry Inverter Battery N-16500PI </p>
          <a routerLink="powergeneration" class="btn btn-primary"> Visit </a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/images/energy.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> Energy Meter</h5>
          <p class="card-text">  HPL 5A 3 Phase Counter Energy Meter</p>
          <a routerLink="energymeter" class="btn btn-primary"> Visit </a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/images/Switches.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> Switches & Sockets  </h5>
          <p class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="electricalspares" class="btn btn-primary"> Go somewhere </a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/images/electricalspares.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> Electrical Spares & Accessories </h5>
          <p class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="switches" class="btn btn-primary"> Go somewhere </a>
        </div>
      </div>
  
  
    </div>
    <div class="col-md-4">
  <router-outlet> </router-outlet>
    </div>
  </div>