<p> <b>laptop works! </b></p>
<div class="shadow p-3 mb-5 bg-white rounded" >

<div class="box">
    <div class="col-md-4">
        <img src="../../assets/images/61yfiaWp1BS._AC_SL1500_.jpg" alt="Lenovo IdeaPad Slim 3 82RK0062IN Laptop (12th Gen Core i5/ 8GB/ 512GB SSD/ Win11)">
    </div>
   
 <p> <b>Lenovo IdeaPad Slim 3 82RK0062IN Laptop (12th Gen Core i5/ 8GB/ 512GB SSD/ Win11)  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{price |currency:'INR'}}</b></p>
    <div class="feature">
 <h6> Features</h6>
     <ul>
        <li>Intel Core i5 12th Gen</li>
           <li> Deca Core</li>
           <li> 8GB RAM </li>
           <li> 512GB SSD </li>
            <li>Intel Iris Xe Graphics</li>
           <li>15.6inches, 1920x1080pixels</li> 
            <li>Windows 11 OS</li>
           <li> 1 Year Warranty </li>
     </ul>

</div>
</div>
</div>