.div{
    background-color:rgb(232, 151, 182);
    border: 1px solid rgb(177, 175, 175);
width: 900px;
margin-left: 250px;
}

.ngFor{
    background-color:rgb(232, 151, 182);
    border: 1px solid rgb(177, 174, 174);
    margin-top: 10px;
    width: 900px;
    margin-left: 250px;
}

.ngSwitch{
    background-color:rgb(232, 151, 182);
    border: 1px solid rgb(177, 174, 174);
    border: radius 20px; 
    margin-top: 10px;
    width: 900px;
    margin-left: 250px;
}

h3{
    text-align: center;
    background-color: rgb(100, 99, 99);
    color:whitesmoke;
}

h4{
    text-align: center;
    background-color: rgb(175, 174, 177);

}

.title{
    font-size: large;
    
}