<p>login works!</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <form>
                <div class="form-group">
                    <label for="email"> Email </label>
                     <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" #uname>
                </div>
<div class="form-group">
    <label for="pwd"> Password </label>
    <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Enter your password" #pwd>
</div>
<div class="form-check">
    <input type="checkbox" id="exampleCheck" class="form-check-input">
    <label for="exampleCheck" class="form-check-label">Check me out </label>

</div>
<button class="btn btn-primary" type="submit" (click)="checkuser(uname.value, pwd.value)"> Submit </button>
</form>
</div>
</div>
</div>